@font-face {
font-family: FontAwesome;
src: url(fonts/font-awesome/fonts/FontAwesome.otf);
}
@font-face {
font-family: Helvetica Neue;
src: url(/fonts/helvetica/HelveticaNeueCyr-Light.otf);
}
.menu {
font-family: 'Helvetica Neue', Sans-serif;
line-height: 16px;
position: fixed;
height: 100%;
}
.menu > .menu-title {
background: #3498db;
color: #fff;
cursor: pointer;
display: block;
font-size: 17.92px;
font-weight: bold;
text-transform: uppercase;
padding: 16px;
}
.menu > .menu-title:before {
content: "\f0c9";
display: inline-block;
font-family: 'FontAwesome';
padding: 0 10px 0 0;
}

.menu > .menu-links {
display: none;
padding: 0 30px 0;
}

.menu > .menu-links h2 {
border-bottom: 1px solid #aaa;
color: #53545e;
display: inline-block;
font-size: 17.92px;
margin: 10px 0;
padding-bottom: 3px;
}

.menu > .menu-links a {
color: #3186D7;
display: block;
font-size: 17.92px;
font-weight: bold;
margin: 10px 0;
text-decoration: none;
}

.menu > .menu-links a:hover {
text-decoration: underline;
}

.menu-open {
background: #fff;
border-right: 1px solid #bebebe;
box-shadow: 1px 0 4px #ccc;
width: 220px;
}

.menu-open > .menu-title {
margin-bottom: 20px;
padding-left: 30px;
}

.menu-open > .menu-links {
display: block;
}
